:root {
    --panel-color: rgb(250, 250, 250);
    --border-color: rgb(230, 230, 230);
    --header-height: 5rem;
    --current-day-color: rgb(31, 147, 255);
    
    --event-window-color: rgba(230, 230, 230, 0.5);
}

.right-border {
    border-right: solid 1px;
    border-color: var(--border-color);
}

.bottom-border {
    border-bottom: solid 1px;
    border-color: var(--border-color);
}

.full-height {
    height: 100%;
}

.text-align-center {
    text-align: center;
}

.hidden {
    display: none;
}

.blur {
    filter: blur(2px);
    transition: filter 0.1s;
}

.non-blur {
    filter: blur(2px);

    transition: filter 0.1s;
}